/* Hero section */

.outer-hero-section {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1800px; /* Ensuring it doesn't exceed 1500px width */
  margin: 0 auto; /* Center the section */
  background-color: black; /* Dark background for contrast */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Adds depth with shadow */
  border-bottom: 2px solid var(--sw-yellow); /* Yellow border at the bottom */
}

.jedi-hero-section {
  position: relative;
  overflow: hidden;
  height: 50vh; /* Fixed viewport height */
  transform: perspective(300px) rotateX(20deg);
  transform-origin: 50% 100%;
  background: var(--bg);
  color: var(--sw-yellow);
  pointer-events: none;
  user-select: none;
}

.hero-header {
  font-family: "Star Wars", sans-serif;
}

.jedi-hero-text {
  position: absolute;
  top: 100%; /* Start off-screen */
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  animation: jedi-autoscroll 30s linear infinite;
}

@keyframes jedi-autoscroll {
  from {
    transform: translateY(0);
  } /* Start from below the view */
  to {
    transform: translateY(-190%);
  } /* Scroll through three blocks of text */
}

.jedi-hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  pointer-events: none;
}

/* Light / Dark toggle */
/* Select your side */
.select-your-side {
  min-height: 80vh;
  position: relative;
  background-image: linear-gradient(
    200deg,
    black 45.45%,
    #112 45.45%,
    #112 50%,
    black 50%,
    black 95.45%,
    #112 95.45%,
    #112 100%
  );
  background-size: 1608.09px 585.3px;
}

h3 {
  font-size: 1.25rem;
}

/* Star Wars Title */
.star-wars-title {
  /* Make sure to import a Star Wars font */
  color: #ffcc00; /* Yellow */
  text-transform: uppercase;
  font-size: 1.8rem;
  text-shadow: 0 0 10px #ffcc00, 0 0 20px #ffcc00; /* Yellow */
  margin-bottom: 1rem;
  padding: 0 2rem;
  letter-spacing: -1px;
  font-family: var(--title);
}

/* Toggle Section */
.toggle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  max-width: 500px;
  margin: auto;
  z-index: 400 !important;
}

/* Toggle Buttons */
.toggle-buttons {
  display: flex;
  justify-content: center;
  width: 80%;
}

.toggle-btn {
  border: none;
  flex: 1;
  padding: 0.5rem 1rem;
  margin: 0 0.25rem;
  color: var(--light-grey);
  font-family: var(--title);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  transition: --transition;
  box-shadow: var(--glass-shadow);
}

.toggle-btn:hover {
  color: var(--saber-yellow); /* Yellow on hover */
  background: #ffd700; /* Light yellow on hover */
  transform: scale(1.06);
}

.toggle-btn:active {
  transform: scale(1.01);
}

#lightSide {
  background: var(--light-grey);
  color: black; /* Blue */
  opacity: 0.8;
}

#lightSide:hover {
  background: var(--light-grey);
  color: white;
}

#darkSide {
  background: var(--dark-grey);
  color: black; /* Red */
  opacity: 0.8;
}

#darkSide:hover {
  background: var(--dark-grey);
  color: white;
  opacity: 1;
}

#bothSides {
  background: linear-gradient(to right, var(--light-grey), var(--dark-grey));
  color: black;
}

#bothSides:hover {
  background: linear-gradient(to right, var(--light-grey), var(--dark-grey));
  color: white;
}

.z-index {
  z-index: 30;
}

/* Content Section Styles */
#sideContent {
  margin-top: 20px;
}

#sideLogo {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

#sideText {
  font-family: "Star Jedi", sans-serif; /* Make sure to import a Star Wars font */
  color: #ffcc00; /* Yellow */
  font-size: 1.2rem;
  margin-top: 10px;
  padding: 1rem;
  border-radius: var(--glass-radius);
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

/* Lightsaber display section */

/* Lightsaber Card Styling with Keyframes for Glowing Effect */
.lightsaber-card {
  z-index: 2;
  background: var(--glass-bg);
  border-radius: var(--glass-radius);
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--glass-backdrop);
  -webkit-backdrop-filter: var(--glass-backdrop);
  border: none;
  transition: box-shadow 4s ease;
  animation: glowingAnimation 8s infinite;
  height: 100%;

  .saber-container {
    justify-content: center;
    align-items: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.card-title {
  font-family: "Star Wars", sans-serif;
  color: var(--bright-yellow);
}

.saber-container {
  height: 30vh;
  min-height: 150px;
}

/* Enhanced Button Styles for Star Wars Theme */
.btn-primary {
  border: none;
  background-color: var(--bright-yellow); /* Star Wars yellow background */
  color: var(--bg); /* Text color */
  transition: var(--transition);
  font-family: var(--title);
  letter-spacing: var(--spacing);
}

.btn-primary:hover {
  background-color: var(--saber-white);
  color: var(--saber-red);
}

.btn-secondary {
  border: none;
  background-color: var(--saber-white);
  color: var(--bg); /* Text color */
  transition: var(--transition);
  font-family: var(--title);
  letter-spacing: 0.1rem;
}

.btn-secondary:hover {
  background-color: var(--sw-yellow);
  color: var(--saber-red);
}

@media (min-width: 768px) {
  .star-wars-title {
    font-size: 2rem;
  }
}

/* Animation Keyframes */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Lightsaber Card Animation */
.lightsaber-card {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s ease-out forwards;
}

/* Adding a dynamic delay using nth-child */
/* Adding a dynamic delay using nth-child */
.lightsaber-card:nth-child(1) {
  animation-delay: 0.3s;
}
.lightsaber-card:nth-child(2) {
  animation-delay: 0.6s;
}
.lightsaber-card:nth-child(3) {
  animation-delay: 0.9s;
}
.lightsaber-card:nth-child(4) {
  animation-delay: 1.2s;
}
.lightsaber-card:nth-child(5) {
  animation-delay: 1.5s;
}
.lightsaber-card:nth-child(6) {
  animation-delay: 1.8s;
}
.lightsaber-card:nth-child(7) {
  animation-delay: 2.1s;
}
.lightsaber-card:nth-child(8) {
  animation-delay: 2.4s;
}
.lightsaber-card:nth-child(9) {
  animation-delay: 2.7s;
}
.lightsaber-card:nth-child(10) {
  animation-delay: 3s;
}
.lightsaber-card:nth-child(11) {
  animation-delay: 3.3s;
}
.lightsaber-card:nth-child(12) {
  animation-delay: 3.6s;
}
.lightsaber-card:nth-child(13) {
  animation-delay: 3.9s;
}
.lightsaber-card:nth-child(14) {
  animation-delay: 4.2s;
}
.lightsaber-card:nth-child(15) {
  animation-delay: 4.5s;
}
.lightsaber-card:nth-child(16) {
  animation-delay: 4.8s;
}
.lightsaber-card:nth-child(17) {
  animation-delay: 5.1s;
}
.lightsaber-card:nth-child(18) {
  animation-delay: 5.4s;
}
.lightsaber-card:nth-child(19) {
  animation-delay: 5.7s;
}
.lightsaber-card:nth-child(20) {
  animation-delay: 6s;
}
.lightsaber-card:nth-child(21) {
  animation-delay: 6.3s;
}
.lightsaber-card:nth-child(22) {
  animation-delay: 6.6s;
}
.lightsaber-card:nth-child(23) {
  animation-delay: 6.9s;
}
.lightsaber-card:nth-child(24) {
  animation-delay: 7.2s;
}
.lightsaber-card:nth-child(25) {
  animation-delay: 7.5s;
}
.lightsaber-card:nth-child(26) {
  animation-delay: 7.8s;
}
.lightsaber-card:nth-child(27) {
  animation-delay: 8.1s;
}
.lightsaber-card:nth-child(28) {
  animation-delay: 8.4s;
}
.lightsaber-card:nth-child(29) {
  animation-delay: 8.7s;
}
.lightsaber-card:nth-child(30) {
  animation-delay: 9s;
}
