main {
  display: grid;
}

hr {
  color: var(--sw-yellow);
}

.lightsaber-container {
  background: linear-gradient(rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.99)),
    url("https://res-console.cloudinary.com/dxr4xewpz/thumbnails/v1/image/upload/v1716673639/bGlnaHRzYWJlcnNfamtkYnIw/drilldown")
      center/cover no-repeat;
}

.title {
  font-family: var(--title);
  letter-spacing: var(--spacing);
  color: var(--sw-yellow);
}

.saber-container {
  height: 30vh;
  min-height: 150px;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically */
}

.lightsaber {
  width: 10px;
  height: 100%;
  position: relative;
  transform: rotate(-45deg);

  .glow {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 8px 8px 0 0;
    filter: blur(6px);
  }

  .core {
    position: absolute;
    top: 5%;
    right: 20%;
    left: 30%;
    bottom: 0;
    filter: blur(2px);
    background-color: white;
  }

  .handle {
    position: absolute;
    height: 25%;
    width: 80%;
    bottom: -20%;
    background: linear-gradient(to left, #111 25%, #aaa 20%, #111);
  }
}

.text {
  font-family: var(--main-font);
}

.card {
  background-color: transparent;
  border: 1px soild black;
}

:root {
  --twinkle-duration: 4s;
}

.stars-wrapper {
  position: relative;
  pointer-events: none;
  max-width: 1500px;
  overflow: hidden;
}

/* Image styling for a better visual effect */
img.img-fluid {
  border-radius: 15px;
}
