@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --bg: black;
  --secondary-bg: #333;
  --sw-yellow: #ffe81f;
  --saber-blue: #2e67f8;
  --saber-green: #2ff924;
  --saber-red: #c13d3d;
  --saber-purple: #7851a9;
  --saber-yellow: #f9ff58;
  --saber-white: #ddddff;

  /* Color palette */
  --light-grey: #d6d6d6;
  --bright-yellow: #ffee32;
  --gold-yellow: #ffd100;
  --black: #202020;
  --dark-grey: #333533;

  /* Fonts */
  --title: "Orbitron", sans-serif;
  --main-font: "Raleway", sans-serif;

  /* Glassmorphism */
  --glass-bg: rgba(255, 157, 157, 0.2);
  --glass-radius: 16px;
  --glass-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  --glass-backdrop: blur(4px);
  --glass-border: 1px solid rgba(255, 157, 157, 0.13);

  /* Commonly used CSS properties for consistency */
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
}

/*                    General                  */
html,
body {
  color: var(--saber-white);
  background: var(--bg);
}

.card {
  background-color: var(--bg);
  border: 2px solid var(--sw-yellow);
}

main {
  min-height: 100vh;
}

a {
  text-decoration: none;
}

.btn-primary {
  background-color: var(--bg);
  border: 2px solid var(--sw-yellow);
  color: var(--sw-yellow);
}

/*                    General  Header                  */
header {
  /* Deep space black */
  border-bottom: 3px solid #ffe81f; /* Star Wars theme yellow */
}

.navbar {
  padding: 0.5rem 1rem;
  background-color: #050505;
  font-family: "Orbitron", sans-serif;
  background-color: transparent;
}

.navbar-brand {
  color: #ffe81f; /* Star Wars theme yellow */
  font-size: 2rem; /* Larger font size for brand */
}

.navbar-brand:hover {
  color: #ffd700; /* Lighter yellow on hover */
}

.navbar-toggler {
  border-color: #ffe81f;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23FFE81F' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-link {
  color: #4bd1f7; /* Light saber blue */
  margin: 0 10px;
}

.navbar-nav .nav-link:hover {
  color: #c1d72e; /* Light saber green */
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-link.active {
  color: #ffe81f; /* Star Wars theme yellow */
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .navbar-nav {
    text-align: center;
  }
}

/* Styling for social icons in the header, if any */
.header-social-icons {
  color: #4bd1f7; /* Light saber blue */
}

.header-social-icons:hover {
  color: #c1d72e; /* Light saber green */
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}
/* Star wars icon */
#burger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 2em;
  width: 2em;
}

.bun,
.filling {
  /* Star Wars yellow */
  height: 4px;
  transition: transform 0.3s ease;
}

.bun.top,
.bun.bottom {
  width: 100%;
}

.bun.top {
  transform-origin: 0% 0%;
  background-color: #c13d3d;
}

.bun.bottom {
  transform-origin: 0% 100%;
  background-color: #2e67f8;
}

.filling {
  background-color: #2ff924;
  width: 60%;
  align-self: center;
}

/* Transform burger into a cross when active */
#burger.active .bun.top {
  transform: rotate(45deg);
}

#burger.active .bun.bottom {
  transform: rotate(-45deg);
}

#burger.active .filling {
  transform: scale(0);
}

.navbar-dark .navbar-toggler {
  border: none;
  padding: 0;
}
/*                    General  Footer                   */

footer {
  border-top: 2px solid var(--sw-yellow);
}

/*                   Media Queries                   */

@media (max-width: 768px) {
  .nav-link .fas {
    display: block;
    text-align: center;
  }
  .nav-link {
    text-align: center;
  }
  .navbar-brand,
  .nav-link {
    font-size: 1.25rem; /* Larger text on smaller screens */
  }
}
@media (min-width: 992px) {
  .nav-link,
  .navbar-brand {
    font-size: 1.5rem; /* Even larger text on larger screens */
  }
}

nav ul {
  gap: 1rem;

  li {
    list-style: none;
  }
}
/*                 Max width setting                 */
.container-max {
  max-width: 1800px;
  margin: auto;
}
/*                  Footer                */
footer {
  background-color: #050505; /* Deep space black */
  color: #ffe81f; /* Star Wars theme yellow */
  padding: 20px;
  border-top: 3px solid #ffe81f; /* Star Wars theme yellow */
  text-align: center;
  font-family: "Orbitron", sans-serif;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.footer-column {
  flex: 1 1 200px; /* Flex basis of 200px but can grow and shrink */
  padding: 10px;
}

.footer-title {
  font-size: 1.5rem;
  margin-bottom: 15px;
  color: #ffe81f;
}

.footer-text,
.footer-link {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #4bd1f7; /* Light saber blue */
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
  color: #c1d72e; /* Light saber green */
}

.footer-social-icons {
  font-size: 2rem;
  margin-right: 15px;
  color: #4bd1f7; /* Light saber blue */
}

.footer-social-icons:hover {
  color: #c1d72e; /* Light saber green */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-column {
    flex-basis: 100%;
    text-align: center;
    padding: 20px;
  }
}

/*                  Starry Sky                */
.starry-sky {
  position: relative;
  width: 100%;
  background: var(--bg);
  overflow: hidden;
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 0 2px #fff, 0 0 5px #fff;
  animation: animateStar linear infinite;
  z-index: 10;
}

@keyframes animateStar {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(-100vh);
  }
}
