/* General styles */

body {
    flex-direction: column;
    align-items: center;
  }
  

/* Team Section */

#team-section {
    padding: 5%;
    align-items: center;
    background-color: var(--dark-grey);
}

.team-section-header {
    width: 80%;
}

img {
    max-width: 100%;
    padding: 15px;
}

p {
    text-align: center;
    /* font-size: 70%; */
    /* line-height: 1.5; */
    font-weight: 400;
    font-family: var(--main-font);
    color: var(--light-grey);
}

hr {
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
  }

.heading-1 {
    margin-bottom: 20px;
    text-align: center;
    /* font-size: 180%; */
    font-size: 48px;
    font-family: var(--title);
    text-transform: uppercase;
    color: var(--gold-yellow);
}

.heading-2 {
    font-size: 30px;
    /* font-weight: 800; */
    /* letter-spacing: -3px; */
    font-family: var(--title);
    text-transform: uppercase;
    color: var(--gold-yellow)
}

.subheading {
    font-size: 18px;
    font-weight: 400;
    /* letter-spacing: 2px; */
    font-family: var(--title);
    color: var(--bright-yellow);
}

#team-section {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-block: 100px;
}

#team-section hr {
    width: 80%;
}

.team-cards-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 40px;
    padding: 20px;
    background-color: var(--black);
    border: var(--dark-border);
    box-shadow: var(--dark-shadow);
}

.team-member-card {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    height: 650px;
}

.team-member-card-header {
    text-align: center;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    #photos {
        column-count: 2;
        column-gap: 0;
    }


}