/* General styles */

body {
  flex-direction: column;
}

/* Team Section */
.team-section-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 0 2rem;
  font-family: var(--title1);
  letter-spacing: var(--spacing);
  color: var(--sw-yellow);
  text-align: center;
}

.jedi {
  color: var(--saber-blue);
}
.sith {
  color: var(--saber-red);
}

a {
  font-size: 2rem;
  color: var(--saber-white);
  text-decoration: none;
}

.text {
  width: 50%;
  text-align: center;
  font-family: var(--title);
}

img {
  max-width: 100%;
}

p {
  font-size: 0.8rem;
  font-weight: 300;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  border-style: inset;
  border: 1px solid var(--sw-yellow);
}

img {
  border-radius: 15px;
}

.heading-2 {
  font-size: 30px;
  font-weight: 800;
  font-family: var(--title);
  letter-spacing: var(--spacing);
  color: var(--sw-yellow);
}

.subheading {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 2px;
}

#team-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block: 100px;
}

#team-section hr {
  width: 80%;
}

.team-cards-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.team-member-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

.team-member-card-header {
  text-align: center;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {
  #photos {
    column-count: 2;
    column-gap: 0;
  }

  .heading-1 {
    font-size: 2rem;
  }
}
