{% extends 'base.html' %}
{% block content %}
<!-- Content goes here-->
<div class="container py-4">
    <h1 class="text-center">Darth Vader</h1>
    <p>
        Darth Vader, born as Anakin Skywalker, is a central character in the Star Wars
        universe. He is a Sith Lord who was once a Jedi Knight and a hero of the Clone Wars.
        However, he was seduced by the dark side of the Force and became the apprentice of
        Emperor Palpatine, eventually becoming the Sith Lord known as Darth Vader. He is
        known for his distinctive black armor and his red-bladed lightsaber, as well as his
        heavy breathing and deep voice. Darth Vader is one of the most iconic villains in
        film history and is a central figure in the Star Wars saga.
    </p>
</div>
{% endblock %}