{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/character-detail.css' %}" />

<div class="stars-wrapper" id="stars-wrapper"></div>

<div class="container">
  <div class="header-section text-center py-4 fade-in">
    <h1 class="m-4">{{ character.name }}</h1>
  </div>
  <div class="container">
    <div class="content-section">
      <div class="row d-flex justify-content-center">
        <div class="col-10 col-md-6 col-lg-5 sub-section slide-in-left">
          <img
            src="{{ character.profile_image.url }}"
            alt="{{ character.full_name }}"
            class="img-fluid"
          />
        </div>
        <div class="col-12 col-md-10 col-lg-6">
          <div class="sub-section py-5 slide-in-right">
            <div class="card-body text-center">
              <p class="my-2 py-2 txt-xl">
                Alignment:
                <span class="text-white"
                  >{{ character.get_alignment_display }}</span
                >
              </p>
              <p class="my-2 py-2 txt-l">
                Home Planet:
                <span class="text-white">{{ character.home_planet }}</span>
              </p>
              <p class="my-2 py-2 txt-l">
                Lightsaber:
                {% for lightsaber in character.lightsaber.all %}
                <a class="sfx" href="/lightsaber/{{ lightsaber.pk }}" aria-label="View this character's lightsaber.">{{ lightsaber.name }}</a>
                {% endfor %}
              </p>
            </div>
          </div>
        </div>
        <div class="col-10 col-md-10 col-lg-8">
          <div
            class="content-section text-center glass-card py-3 p-1 p-md-3 fade-in"
          >
            <h3 class="my-2 py-2">Character Lore</h3>
            <p class="text-white">{{ character.lore }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/details.js' %}"></script>
{% endblock %}
