{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<!-- Content Block -->
<section class="outer-hero-section starry-sky">
  <div class="jedi-hero-section">
    <div class="jedi-hero-text">
      <!-- Content for scrolling effect -->
      <div>
        <h1 class="hero-header">Welcome to Jedi Blades</h1>
        <p>
          Jedi Blades is a store that sells lightsabers. We have a wide
          selection of lightsabers for you to choose from. Whether you are a
          Jedi or a Sith, we have the perfect lightsaber for you.
        </p>
        <p>
          Our lightsabers are made from the finest materials and are built to
          last. They are perfect for dueling or for display. We also have
          lightsaber accessories such as stands and cases to help you take care
          of your lightsaber.
        </p>
        <p>
          So come on in and take a look at our selection. May the Force be with
          you!
        </p>
      </div>
    </div>
    <div class="jedi-hero-overlay"></div>
  </div>
</section>
<section class="select-your-side w-100">
  <div
    class="mx-auto d-flex justify-content-center"
    style="z-index: 80 !important"
  >
    <!-- Star Wars Theme Title -->
    <div class="toggle-section pt-4 my-3">
      <div class="text-center mb-3">
        <h1 class="star-wars-title">Choose Your Path</h1>
      </div>
      <!-- Toggle for Jedi, Balance, and Sith -->
      <div
        class="btn-group toggle-buttons"
        role="group"
        aria-label="Side Toggle"
      >
        <button type="button" class="btn toggle-btn sfx" id="lightSide">
          Jedi
        </button>
        <button type="button" class="btn toggle-btn sfx" id="bothSides">
          Balance
        </button>
        <button type="button" class="btn toggle-btn sfx" id="darkSide">
          Sith
        </button>
      </div>
    </div>
  </div>
  <div class="my-3 row d-flex justify-content-center align-items-center">
    <!-- Content for selected side -->
    <div
      id="sideContent  "
      class="row d-flex justify-content-center align-items-center"
    >
      <div class="col-10 col-md-8 d-flex justify-content-center text-center">
        <img id="sideLogo" src="" alt="Side Logo" style="display: none" />
      </div>
      <div class="col-10 col-md-8 d-flex justify-content-center text-center">
        <p id="sideText" class="mt-3" style="display: none"></p>
      </div>
    </div>
  </div>

  <div class="row justify-content-center mt-3">
    {% for lightsaber in lightsabers %}
    <!-- Make sure to convert 'L' to 'light' and 'D' to 'dark' for class name compatibility -->
    <article
      class="col-10 col-md-5 col-lg-4 mb-4 jedi-card-custom lightsaber-row   {{ lightsaber.owner.alignment }}"
      data-color="{{ lightsaber.color }}"
    >
      <div
        class="card lightsaber-card z-index-100"
        style="border-color: {{ lightsaber.color }};"
      >
        <div class="card-body row">
          <div class="col">
            <h5 class="card-title">{{ lightsaber.name }}</h5>
            <p class="card-text">
              Color:
              <span style="color: {{ lightsaber.color }};"
                >{{ lightsaber.color }}</span
              >
            </p>
            <p class="card-text">Owner: {{ lightsaber.owner }}</p>
          </div>
          <div class="col p-2 pb-4 my-4 saber-container">
            <img
              src="{{ lightsaber.image.url }}"
              alt="{{ lightsaber.name }} Lightsaber"
              class="img-fluid"
            />
          </div>
          <div class="row g-0 justify-content-around px-2">
            <div class="col-10">
              <a
                href="{% url 'lightsaber-detail' pk=lightsaber.id %}"
                class="btn btn-primary w-100 sfx"
                 style="border-color: {{ lightsaber.color }};"
              >
                Details
              </a>
            </div>
            <div class="col-10 py-2">
              <a
              href="{% url 'character-detail' pk=lightsaber.owner.id %}"  
              class="btn btn-secondary w-100 sfx"
              style="border-color: {{ lightsaber.color }};"
            >
              {{ lightsaber.owner.name }}
              </a>
            </div>
          </div>
        </div>
      </div>
      <div
        class="modal fade"
        id="characterModal{{ lightsaber.id }}"
        tabindex="-1"
        aria-labelledby="characterModalLabel{{ lightsaber.id }}"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="characterModalLabel{{ lightsaber.id }}"
              >
                {{ lightsaber.owner.name }}
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <p>Full Name: {{ lightsaber.owner.full_name }}</p>
              <p>Alignment: {{ lightsaber.owner.get_alignment_display }}</p>
              <p>Home Planet: {{ lightsaber.owner.home_planet }}</p>
            </div>
          </div>
        </div>
      </div>
    </article>
    {% endfor %}
  </div>
</section>
<script src="{% static 'js/index.js' %}"></script>

{% endblock %}
