{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/team.css' %}">

    <section id="team-section" class="section">
        <div class="team-section-header">
    
            <h2 class="heading-1">Meet The Team</h2>
            <p>
                The team of JediBlades epsum .
            </p>
        </div>
        <div class="team-cards-container">
            <div class="team-member-card">
                <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg" alt="Profile picture of Jesse" />
                <div class="team-member-card-header">
                    <h2 class="heading-2">Jesse</h2>
                    <h3 class="subheading">Frontend- Jedi</h3>
                </div>
                <hr />
                <p>
                    Meet Jesse, our talented Front-End Developer who brings creativity and technical expertise to our
                    development team. Jesse is the driving force behind the visually stunning and highly functional user
                    interfaces that our users love. Here’s a closer look at Jesse's role and contributions:
                </p>
            </div>
        </div>

        <div class="team-cards-container">
            <div class="team-member-card">
                <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg" alt="Profile picture of Jesse" />
                <div class="team-member-card-header">
                    <h2 class="heading-2">Jesse</h2>
                    <h3 class="subheading">Frontend- Jedi</h3>
                </div>
                <hr />
                <p>
                    Meet Jesse, our talented Front-End Developer who brings creativity and technical expertise to our
                    development team. Jesse is the driving force behind the visually stunning and highly functional user
                    interfaces that our users love. 
                </p>
            </div>
        </div>

        <div class="team-cards-container">
            <div class="team-member-card">
                <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg" alt="Profile picture of Jesse" />
                <div class="team-member-card-header">
                    <h2 class="heading-2">Jesse</h2>
                    <h3 class="subheading">Frontend- Jedi</h3>
                </div>
                <hr />
                <p>
                    Meet Jesse, our talented Front-End Developer who brings creativity and technical expertise to our
                    development team. Jesse is the driving force behind the visually stunning and highly functional user
                    interfaces that our users love. 
                </p>
            </div>
        </div>

        <div class="team-cards-container">
            <div class="team-member-card">
                <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg" alt="Profile picture of Jesse" />
                <div class="team-member-card-header">
                    <h2 class="heading-2">Jesse</h2>
                    <h3 class="subheading">Frontend- Jedi</h3>
                </div>
                <hr />
                <p>
                    Meet Jesse, our talented Front-End Developer who brings creativity and technical expertise to our
                    development team. Jesse is the driving force behind the visually stunning and highly functional user
                    interfaces that our users love. 
                </p>
            </div>
        </div>

        <div class="team-cards-container">
            <div class="team-member-card">
                <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg" alt="Profile picture of Jesse" />
                <div class="team-member-card-header">
                    <h2 class="heading-2">Jesse</h2>
                    <h3 class="subheading">Frontend- Jedi</h3>
                </div>
                <hr />
                <p>
                    Meet Jesse, our talented Front-End Developer who brings creativity and technical expertise to our
                    development team. Jesse is the driving force behind the visually stunning and highly functional user
                    interfaces that our users love. 
                </p>
            </div>
        </div>
    </section>

        {% endblock %}