{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/team.css' %}">

<section id="team-section" class="section">
    <div class="team-section-header">

        <h2 class="heading-1">Meet The Team</h2>
        <p>
            The team of Jedi Blades. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquam, fugit neque expedita ipsa ex obcaecati quis itaque quas explicabo deleniti voluptate excepturi alias, sit laborum beatae fugiat maiores minus praesentium.
        </p>
    </div>
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-10 col-md-6 col-lg-4">
            <div class="team-cards-container">
                <div class="team-member-card">
                    <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg"
                        alt="Profile picture of Jesse" />
                    <div class="team-member-card-header">
                        <h2 class="heading-2">Emil</h2>
                        <h3 class="subheading">Scrummaster - Jedi</h3>
                    </div>
                    <hr />
                    <p>
                        Introducing Emil, our dedicated Scrum Master, who plays a pivotal role in ensuring that our
                        Agile development processes run smoothly and efficiently. Emil's expertise and leadership are
                        key to facilitating collaboration and continuous improvement within our team.
                    </p>
                </div>
            </div>
        </div>
            <div class="col-10 col-md-6 col-lg-4">
                <div class="team-cards-container">
                    <div class="team-member-card">
                        <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg"
                            alt="Profile picture of Jesse" />
                        <div class="team-member-card-header">
                            <h2 class="heading-2">Jesse</h2>
                            <h3 class="subheading">Fullstack Developer - Jedi</h3>
                        </div>
                        <hr />
                        <p>
                            Meet Jesse, our talented Front-End Developer who brings creativity and technical expertise
                            to our
                            development team. Jesse is the driving force behind the visually stunning and highly
                            functional user
                            interfaces that our users love.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-6 col-lg-4">
                <div class="team-cards-container">
                    <div class="team-member-card">
                        <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg"
                            alt="Profile picture of Jesse" />
                        <div class="team-member-card-header">
                            <h2 class="heading-2">Johnny</h2>
                            <h3 class="subheading">Fullstack Developer - Jedi</h3>
                        </div>
                        <hr />
                        <p>
                            Meet Johnny, our highly skilled Fullstack Developer, who brings a wealth of knowledge and
                            experience to our development team. Johnny's expertise in both frontend and backend
                            technologies makes him an invaluable asset in creating seamless, high-performance
                            applications.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-6 col-lg-4">
                <div class="team-cards-container">
                    <div class="team-member-card">
                        <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg"
                            alt="Profile picture of Jesse" />
                        <div class="team-member-card-header">
                            <h2 class="heading-2">Emily </h2>
                            <h3 class="subheading">Advanced Frontend Developer - Jedi</h3>
                        </div>
                        <hr />
                        <p>
                            Introducing Emily, our Advanced Frontend Developer, whose exceptional skills and innovative
                            approach set her apart in the world of web development. Emily's dedication to crafting
                            beautiful, functional, and user-centric interfaces ensures that our applications not only
                            meet but exceed user expectations.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-10 col-md-6 col-lg-4">
                <div class="team-cards-container">
                    <div class="team-member-card">
                        <img src="https://res.cloudinary.com/digqsxx3z/image/upload/v1716583374/jesse_kpojhr.jpg"
                            alt="Profile picture of Jesse" />
                        <div class="team-member-card-header">
                            <h2 class="heading-2">Siya</h2>
                            <h3 class="subheading">Frontend Developer- Jedi</h3>
                        </div>
                        <hr />
                        <p>
                            Meet Siya, our talented Frontend Developer, whose passion for creating seamless and engaging
                            user experiences drives our web development projects. Siya's keen eye for design, coupled
                            with technical expertise, ensures our applications are both visually stunning and highly
                            functional.
                        </p>
                    </div>
                </div>
            </div>
        </div>
</section>

{% endblock %}