{% extends 'base.html' %} {% load static %} {% block content %}
<link rel="stylesheet" href="{% static 'css/team.css' %}" />

<section id="team-section" class="section starry-sky">
  <div class="team-section-header">
    <h1 class="heading-1">Meet The Team</h1>
    <strong class="text">
      Welcome to JediBlades! We are a passionate group of innovators and tech
      enthusiasts united by our love for lightsabers and cutting-edge
      technology. Our mission is to forge the future, one blade at a time. Get
      to know the creative minds and skilled hands behind JediBlades, where
      every project is a new adventure in the making!
    </strong>
  </div>
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-10 col-md-6 col-lg-4 mb-3">
      <div class="team-cards-container" id="emil">
        <div class="team-member-card">
          <img
            src="https://res.cloudinary.com/dxr4xewpz/image/upload/v1716728917/emil-jedi_nccp9q.webp"
            alt="Profile picture of Emil as a Jedi"
            class="img-fluid"
          />
          <div class="team-member-card-header">
            <h2 class="heading-2">Emil</h2>
            <h3 class="subheading">
              Scrummaster, Fullstack - <span class="jedi">Jedi</span>
            </h3>
            <a
              href="https://github.com/EmilionR/"
              target="_blank"
              class="icons sfx"
              ><i class="fa-brands fa-github"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/emil-jadersten/"
              target="_blank"
              class="icons sfx"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
          <hr />
          <p>
            Emil is our dynamic Scrum Master who expertly bridges the gap
            between backend and frontend development. With a keen eye for detail
            and a passion for seamless project flow as well as coding, he
            ensures our JediBlades team stays on target and delivers excellence.
          </p>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-6 col-lg-4 mb-3">
      <div class="team-cards-container" id="johnny">
        <div class="team-member-card">
          <img
            src="https://res.cloudinary.com/dxr4xewpz/image/upload/v1716732064/johnny-sith_hqpgqz.webp"
            alt="Profile picture of Johnny as a Sith"
          />
          <div class="team-member-card-header">
            <h2 class="heading-2">Johnny</h2>
            <h3 class="subheading">
              Fullstack Developer - <span class="sith">Sith</span>
            </h3>
            <a
              href="https://github.com/JohnnySonTrinh/"
              target="_blank"
              class="icons sfx"
              ><i class="fa-brands fa-github"></i>
            </a>
            <a
              href="https://www.linkedin.com/in/johnny-trinh-dev/"
              target="_blank"
              class="icons sfx"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
          <hr />
          <p>
            Johnny is our creative fullstack developer with a keen focus on
            frontend development and design. Johnny excels at crafting visually
            stunning and highly intuitive user interfaces. His passion for
            design and attention to detail ensure that every project not only
            functions flawlessly but also looks amazing.
          </p>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-6 col-lg-4 mb-3">
      <div class="team-cards-container" id="jesse">
        <div class="team-member-card">
          <img
            src="https://res.cloudinary.com/dxr4xewpz/image/upload/v1716730624/jess-2_nfcuz5.webp"
            alt="Profile picture of Jesse as a Sith"
          />
          <div class="team-member-card-header">
            <h2 class="heading-2">Jesse</h2>
            <h3 class="subheading">
              Fullstack Developer- <span class="sith">Sith</span>
            </h3>
            <a
              href="https://github.com/JesseRoss001/"
              target="_blank"
              class="icons sfx"
              ><i class="fa-brands fa-github"></i>
            </a>
            <a
              href="https://linkedin.com/in/jesseross001/"
              target="_blank"
              class="icons sfx"
            >
              <i class="fa-brands fa-linkedin-in"></i>
            </a>
          </div>
          <hr />
          <p>
            Jesse is our talented fullstack developer with a keen focus on
            backend development. Jesse excels at building robust, scalable
            server-side applications, ensuring our projects run smoothly and
            efficiently. While he can handle frontend tasks with ease, his true
            passion lies in crafting the powerful engines.
          </p>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-6 col-lg-4 mb-3">
      <div class="team-cards-container" id="salma">
        <div class="team-member-card">
          <img
            src="https://res.cloudinary.com/dfs3h5zak/image/upload/v1716806882/salma-jedi_i4karx.webp"
            alt="Profile picture of Salma as a Jedi"
            class="img-fluid"
          />
          <div class="team-member-card-header">
            <h2 class="heading-2">Salma</h2>
            <h3 class="subheading">
              Fullstack developer- <span class="jedi">Jedi</span>
            </h3>
            <a
              href="https://github.com/salms358"
              target="_blank"
              class="icons sfx"
              ><i class="fa-brands fa-github"></i>
            </a>
          </div>
          <hr />
          <p>
            Salma is our well-rounded fullstack developer, helping the site take
            shape both on the backend and the frontend. Her expertise spans
            across HTML, CSS, Django, and more. With a quiet determination and a
            systematic approach, she thrives in both layers of our development.
          </p>
        </div>
      </div>
    </div>
    <div class="col-10 col-md-6 col-lg-4 mb-3">
      <div class="team-cards-container" id="emily">
        <div class="team-member-card">
          <img
            src="https://res.cloudinary.com/dfs3h5zak/image/upload/v1716806895/emily-sith_dt0dhr.webp"
            alt="Profile picture of Emily as a Sith"
            class="img-fluid"
          />
          <div class="team-member-card-header">
            <h2 class="heading-2">Emily</h2>
            <h3 class="subheading">
              Frontend, designer- <span class="sith">Sith</span>
            </h3>
          </div>
          <hr />
          <p>
            Emily is our color pattern and wireframing planner. Her passion lies
            in the tasks surrounding the project, such as coordinating the
            colors, documenting our workflow, and helping the team during the
            early stages of the project.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="{% static 'js/team.js' %}"></script>

{% endblock %}
